<div class="registration">
  <h1>New Invite</h1>
  <p>
    Fill out a invitation below to allow a friend or colleague to create an account and post content to DogGoat. If you trust 'em, we do too. We're excited to get to know <span id="new_member_name_fill_in">..</span>.
  </p>
</div>

<%= render 'invites/invite_form', is_new: true %>
