<div class="delete-post">
  <div class="warning-block">
    Are you sure you would like to delete <strong><%= @prompt.title %></strong>? This action can not be undone.
  </div>

  <div class="buttons">
    <%= semantic_form_for @prompt, method: :delete do |f| %>
      <div class="options">
        <%= link_to "Cancel", prompt_path(@prompt), class: "button"%>
        <%= f.action :submit, :label => "delete", :as => :button, :button_html => {:class => "destructive-button"} %>
      </div>
    <% end %>
  </div>
</div>
