
* {
  margin: 0em;
  padding: 0em;
}

body {
  background-color: #dadada;
  text-align: center;
}

img#missing {
  width: 200px;
  height: 200px;
}
img#broken {
  width: 350px;
  height: 210px;
}

p {
  margin-bottom: 1em;
}

body .status {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: black;
  color: white;
}

body .info {
  padding: 1em;
  padding-bottom: 0.5em;
  background-color: #3c3c3c;
  color: #eee;
}
