<h1>Hey <%= @member.first_name %>,</h1>
<h2>Your password for DogGoat was requested to be reset.</h2>

<p>
  Below is your new (temporary) password. It is case-sensitive, and actually a pretty secure password if you want to just remember it.
</p>

<div class="info_block">
  <h4><em><%= @new_password %></em></h4>
  <h5>Log back in at: <em>www.doggoat.com/login</em></h5>
</div>

<p>
  Hopefully you remember it this time.
</p>

<p>
  Best,<br />
  - The Password Fairy
</p>
