.email {
  .content {
    h1 {
      margin: 0em;
    }
    p {
      margin-top: 1em;
    }

    .claim {
      background-color: rgb(87,87,87);
      color: rgb(226,226,226);
      border-radius: 0.15em;
      padding: 1em;
      margin: 1em;
      display: block;
      max-width: 30em;

      em {
        font-style: normal;
        font-weight: bold;
        color: white;
      }
    }
  }
}
