.formtastic {

  li {
    list-style: none;
  }

  .input {
    .label {
      display: none;
    }
    .inline-errors {
      color:#cc0000;
      margin: 0.1em;
      margin-bottom: 0.5em;
    }
  }
}
