.formtastic {

  li {
    list-style: none;

    &.action {
      button {
        @include button;
        text-transform: uppercase;
      }
    }
  }

  .action {
    float: none;
  }

  .input {
    margin-bottom: 0.1em;
    padding: 0;

    .label {
      display: none;
    }
    .inline-errors {
      color:#cc0000;
      margin: 0.1em;
      margin-bottom: 0.5em;
    }
  }
}
