
.markdown {

// PARAGRAPH

  $paragraph_margin: 1em;

  p {
    margin-bottom: $paragraph_margin;
    line-height: 150%;
  }

// HEADINGS

  h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    margin-top: 1em;
    font-weight: bold;
  }

  h1 {
    font-size: 200%;
    margin-bottom: 0.3em;
  }

  h2 {
    font-size: 150%;
  }

  h3 {
    font-size: 125%;
    margin-bottom: 0em;
  }

  h4 {
    font-style: italic;
  }

  h5,h6 {
    font-size: 90%;
    text-transform: uppercase;
  }

  h5 {
    padding: 0.2em;
    padding-left: 0.4em;
    background-color: rgb(91,91,91);
    border-radius: 1px;
    color: white;
  }

  h6 {
    display: inline;
    +p {
      display: inline;
      +p {
        margin-top: $paragraph_margin;
      }
    }
  }

// IN-LINES

  a {
    text-decoration: underline;
    text-decoration-style: dotted;
  }
  a:hover { text-decoration-style: solid; }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

// CODE BLOCKS (here, fancy blocks)
// note that since it's a preprocessed block, you can't use other MD here.
  pre {
    margin: 2em;
    white-space: pre-wrap;
    code {
      font-family: $serif_font_stack;
    }
  }

// LISTS

  ul,ol {
    list-style-type: none;
    li {
      position: relative;
      left: -1em;
    }
    li:before {
      color: #868686;
    }
  }

  ul li:before {content: "— ";}

  ol {
    li {
      counter-increment: step-counter;
    }
    li:before {
      font-style: italic;
      content: counter(step-counter)". ";
    }
  }

}
