
// a globally avaliable scss file for creating CSS helper functions

@mixin nav_bar_structure($height) {
  height: $height;
  padding: $height*0.5;
  padding-top: $height*0.2;
  font-size: 150%;
}

@mixin post_heading {
  padding-left: 1em;
  margin-bottom: 2em;
  border-left: medium solid black;
  // apply dynamic color with style="border-left-color: [color]"
  -webkit-transition: border 0.25s;
  transition: border 0.25s;
}

@mixin lateral_list($color) {
  .lateral_list span {
    text-transform: lowercase;
    color: lighten($color, 35);
    a,&.inactive {
      color: $color;
    }
    a {
      @include transition_color(0.2s);
      &:hover {
        color: #dedede;
      }
    }
  }
  .left {float: left;}
  .right {float: right;}
}

@mixin transition_color($duration) {
  -webkit-transition: color $duration;
  transition: color $duration;
}

@mixin button($color: #e2dede) {
  padding: 0.5em 1em 0.5em 3em;
  font-size: 120%;
  text-align: right;
  text-transform: uppercase;
  border: none;
  background-color: $color;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;

  &:hover {
    background-color: darken($color, 10);
  }
}

@mixin warning_block {
  margin-bottom: 0.5em;
  padding: 1em;
  // background-color: rgb(221,221,221);
  color: rgb(208,0,0);
  font-style: italic;
}

@mixin underlined_input {
  font-size: 100%;
  background: transparent;
  color: #787878;
  border: 0;
  border-bottom: 2px solid #787878;
  margin-bottom: 0.1em;

  @include transition_color(0.2s);
  &:hover {
    color:  #5b5b5b;
    border-bottom: 2px solid #5b5b5b;
  }
  &:focus {
    color: black;
    border-bottom: 2px solid black;
  }
}

@mixin color_placeholder_text($color) {
  &::-webkit-input-placeholder { color: $color; }
  &:-moz-placeholder { /* Firefox 18- */ color: $color; }
  &::-moz-placeholder {  /* Firefox 19+ */ color: $color; }
  &:-ms-input-placeholder { color: $color; }
}

@mixin triangle_sloped_up($size, $color) {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $size $size 0 0;
  border-color: $color transparent transparent transparent;
}

@mixin parallelogram_flag_tip($height, $color) {
  @include parallelogram($height, 1em, $color);
  z-index: -100;
}

@mixin parallelogram_flag_fill($height, $color) {
  @include parallelogram($height, 2em, $color);
  position: relative;
  left: -$height/2;
  display: inline;
  z-index: -100;
}

@mixin parallelogram($height, $width, $color)  {
  width: $width;
	height: $height;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
	background: $color;
}
