
// a globally avaliable scss file for creating CSS helper functions

@mixin nav_bar_structure($height) {
  height: $height;
  padding: $height*0.5;
  padding-top: $height*0.2;
  font-size: 150%;
}

@mixin transition_color($duration) {
  -webkit-transition: color $duration;
  transition: color $duration;
}

@mixin button($color: #e2dede) {
  padding: 0.5em 1em 0.5em 3em;
  font-size: 120%;
  text-align: right;
  border: none;
  background-color: $color;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;

  &:hover {
    background-color: darken($color, 10);
  }
}

@mixin triangle_sloped_up($size, $color) {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $size $size 0 0;
  border-color: $color transparent transparent transparent;
}

@mixin parallelogram_flag_tip($height, $color) {
  @include parallelogram($height, 1em, $color);
  z-index: -100;
}

@mixin parallelogram_flag_fill($height, $color) {
  @include parallelogram($height, 2em, $color);
  position: relative;
  left: -$height/2;
  display: inline;
  z-index: -100;
}

@mixin parallelogram($height, $width, $color)  {
  width: $width;
	height: $height;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
	background: $color;
}
