<h1>Hey <%= @member.first_name %>,</h1>
<h2>Post to DogGoat. You can totally do it. And it might be fun.</h2>

<p>
  So you've registered your account, and that's awesome. But now you should put it to work. Having a registered account means you can post your own content directly to the site.
</p>

<p>
  There's no submission review processes. By being invited to join, you have the unfiltered ability to post to DogGoat with whatever comedy you come up with.
</p>

<div class="info_block">
  <p>
    To get started, head over to DogGoat, log into your account, and then click "post" in the menu. From there, work your comedy magic (or paste in some of your old magic). Then click "publish" and boom. Your content is on the front page.
  </p>

  <p style="font-size: 120%;">
    <em>You're one step closer to being hired by SNL.</em>
  <p>
</div>

<p>
  I'll start advertising DogGoat around town once there are a few more posts on the site, and then your stuff will really be going out to a greater audience.
</p>

<p>
  Best,<br />
  - a Heartless Machine (on behalf of Charlie Imhoff)
</p>

<p style="margin-left: 3em; color: gray;">
  Ps. DogGoat has <em>already</em> added several features since launch, including saving drafts before publishing and better support for browsing DogGoat on the go.
</p>
