//SITE FOOTER
#site_footer {
  background-color: #cccaca;
  color: #b1b1b1;
  @include nav_bar_structure(1em);

  .lateral_list span {
    text-transform: lowercase;
    @include transition_color(0.2s);
  }

  .lateral_list span:hover {
    color: #dedede;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

}
