
#site_header {
  color: white;

  #hero {
    background-color: black;
    font-size: 6em;
    padding: 0em;
    padding-left: 20px;

    span {
      @include transition_color(0.5s);
      color: #d0d0d0;
      &:hover {
        color: white;
      }
    }
  }

  #navigation_bar {
    background-color: #494949;
    color: gray;
    @include nav_bar_structure(1em);
    @include lateral_list(gray);

    #search {
      color: gray;
      background: none;
      box-shadow: none;
      border-style: none;
      display: inline;

      * {
        display: inline;
      }
      input {
        font-size: 90%;
        width: 10em;
        background: transparent;
        color: #787878;
        @include color_placeholder_text(#555);
        border: 0;
        border-bottom: 2px solid gray;
        margin-bottom: 0.1em;

        @include transition_color(0.2s);
        &:hover {
          color:  #b4b4b4;
          border-bottom: 2px solid #b4b4b4;
        }
        &:focus {
          color: rgb(231,231,231);
          border-bottom: 2px solid rgb(231,231,231);
        }
      }
    }
  }

}
