
#site_header {
  color: white;

  #hero {
    background-color: black;
    font-size: 10vw;
    @media (min-width: 700px) { //max width for hero text
      font-size: 4.375em;
    }
    padding: 0em;
    padding-left: 20px;
    font-family: $serif-font-stack;

    span {
      @include transition_color(0.5s);
      color: #d0d0d0;
      &:hover {
        color: white;
      }
    }

    #goat_hero {
      width: 1em;
      height: 1em;
      position: relative;
      left: -0.2em;
      top: 0.2em;
    }
  }

  #navigation_bar {
    .pure-menu {
      padding-left: 1em;
      padding-right: 1em;
      font-size: 120%;
    }

    .underlined-input,.underlined-input-light {
      margin: 0em;
    }
  }

}
