
<div class="markdown static_text_page">

  <h1>Introducing Riffs</h1>
  <h2>A New Comedic Competition</h2>
  <p>
    Taking inspiration from improv backline games and caption contests, riffs are a new way for comedians to compete for the last laugh.
  </p>

  <p>
    Every riff starts with a prompt, a short, simple question, or fill in the blank. Then, members can submit their own snappy response to the prompt.
  </p>

  <p>
    After submission, members can then vote between groups of other submissions, each time working our way closer to understanding which riffs were great, and which were not quite so.
  </p>

  <p>
    After a set amount of time, a riff closes, which means submitting and voting is over. DogGoat then crowns the top three riffs, and publishes the winning submissions publically, for all to see.
  </p>

  <%= image_tag "riffs-black.png", class: "long" %>

</div>
