<div class="markdown static_text_page">

  <h1>Change Log</h1>
  If you want to know how quickly DogGoat's features and systems are in flux, here is the place. We'll keep this page up to date with any updates to DogGoat.

  <h2>Alpha</h2>

  <h3>Shortform - April 16th, 2016</h3>
  <ul>
    <li>Posts are long, and require some buy in. We at DogGoat understand that comedy sometimes is best short and snappy.</li>
    <li><b>Bits</b> are very quick jokes that can be posted swiftly and easily, and are avaliable in the new "bit" section.</li>
    <li><b>Riffs</b> are a brand new way to compete to see who's got the cleverest quip, and are avaliable in the new "riff" section.</li>
  </ul>

  <h3>Scores - April 7th, 2016</h3>
  <ul>
    <li>All posts now have a little upvote (and downvote) button.</li>
    <li>At the moment, due to data restrictions on our backend, this is a playful anarchy. In current stages, it's a bit too expensive to store who has liked what. So feel free to upvote things as many times as you want (while you can).</li>
  </ul>

  <h3>Drafts - April 4th, 2016</h3>
  <ul>
    <li>Option to save posts as drafts, which are not visible to the public.</li>
    <li>Drafts are saved in "your town" (displayed as "Charlie-town", or "Nick-town").</li>
    <li>Publish your post when it's ready. And don't worry, you can still edit it, if you find a typo.</li>
  </ul>
  <ul>
    <li>Minor animations when loading certain pages.</li>
    <li>Improved some UI cues related to posting.</li>
  </ul>

  <h3>Steps Toward Mobile - April 2rd, 2016</h3>
  <ul>
    <li>DogGoat header fits on mobile</li>
    <li>Menus now slide left and right to allow for fit on mobile</li>
    <li>Better image fit for About page on mobile</li>
  </ul>
  <ul>
    <li>Support for Markdown horizontal rules</li>
    <li>Removed those big notification banners around the site</li>
  </ul>

  <h3>Hotfix - Night of April 1st, 2016</h3>
  <ul>
    <li>Registering an account no longer breaks the server :/</li>
  </ul>

  <h3>Initial Release - April 1st, 2016</h3>
  <p>
    Initially push of DogGoat to a select group. Didn't work very well.
  </p>

</div>
