<div class="markdown static_text_page">

<h1>Contact Us</h1>
<p>
  Hi! My name is Charlie Imhoff, and I'm the guy who built DogGoat. We're an expanding team, but right now, it is just me. So I'll keep this simple.
</p>

<h6>Technical Support</h6>
<p>
  If you need technical support for DogGoat, either email: <em>doggoatalpha@gmail.com</em>, or post the bug you found to the <a href="http://www.github.com/cpimhoff/doggoat/issues">DogGoat Issue Tracker</a>.
</p>

<br />
<h6>Suggestions and Feedback</h6>
<p>
  If you have any suggestions or feedback to make DogGoat better, go ahead and email <em>doggoatalpha@gmail.com</em> right away.
</p>

<br />
<h6>Charlie</h6>
<p>
  If you'd like to get in touch with me directly, shoot me an email at: <em>cpimhoffdesign@gmail.com</em>.
</p>

</div>
