<div class="markdown static_text_page">

  <h1>DogGoat Policy on Content</h1>
  <p>
    DogGoat's policy on content is simple. If you're invited to the service, a member trusts that you will post interesting, humorous work.
  </p>

  <p>
    Our admins feature posts which we think does something especially well, but we don't enforce quality as a rule. We don't cut posts or members from the site once they are in.
  </p>

  <p>
    Comedy sometimes explores with crossing "the line". DogGoat is in full support of authors pushing the envelope with their humor. You are responsible for your own work, and how people react to it, and if you are comfortable with authoring something, we're comfortable presenting it.
  </p>

  <p>
    We refuse to restrict what things you can and can not say on DogGoat.
  </p>

  <p class="swear_hover_toggle">
    And yes, you are welcome to <span style="display: none;"><em>fucking</em></span> swear.
  </p>

  <h3>Questions, Concerns</h3>
  <p>
    DogGoat is very early in its life, and so we don't know exactly what role admins should have. Right now, we want to ensure that comedians have a place to post anything they want to share. If something comes up that causes you concern, we're open to discussing it, keeping in mind we take an author's rights seriously.
  </p>

  <h1>DogGoat Privacy Policy</h1>
  <p>
    Privacy on the internet is increasingly difficult to maintain, because you are super valuable to advertisers. The folks who build DogGoat think you're valuable too, but that you're right to read comedic articles on the internet shouldn't mean selling (more of) your soul to... <span style="color: red;">big corporations</span>.
  </p>

  <h3>Personal Information</h3>
  <p>
    DogGoat wants to be very clear about what we do and do not do with your computer and personal information.
  </p>
  <p>
     We believe comedians should be known by name, and so we request your full name. By using full names around the site, we ensure that comedians are accountable for their own work.
  </p>
  <p>
    DogGoat only requests additional personal information from you we believe is relevant to the service DogGoat provides. Emails are used for contact, account recovery, and login, but are never shared publicly. Passwords are encrypted securely by trusted software not developed by DogGoat. Even the root level of the DogGoat server can not see the exact value of your passwords.
  </p>

  <p>
    DogGoat collects and logs certain technical information automatically. This is moderately boring stuff: information about your connection or what browser you're using. Technical information is logged independent of your account information, so it is anonymous.
  </p>

  <p>
    Account information will not be shared with anyone except to comply with the law or protect our rights. These are very specific, special circumstances, and we will be as upfront as possible when/if these arise.
  </p>

  <h3>Web Technologies</h3>
  <p>
    DogGoat is powered by a large variety of web technologies, and you can get to know them all, considering DogGoat is <a href="http://www.github.com/cpimhoff/DogGoat" style="display: inline;">open source</a>. However, there are a few in particular we'd like to be upfront about.
  </p>

  <p>
    Cookies are a simple way for DogGoat to ask your browser to store some information for us. Most data, such as all the posts or invitation codes, are stored on DogGoat's servers, however, some stuff only applies to one person, at one time. This kind of data, often referred to as <em>session data</em>, is sent to your browser via a <em>super cookie</em> to store. A super cookie sounds really interesting and cool, but it's just an encrypted cookie. This is done so you can't accidentally modify your session data into something which confuses our system. It also prevents other sites from seeing info in your DogGoat cookie (because it's not their business).
  </p>
  <p>
    We don't use tracking cookies. We don't read any information from cookies not issued by us.
  </p>

  <p>
    Web Servers track when resources are accessed. This, used in conjunction with images linked in emails, could allow a server to deduce whether or not you read an email sent to you. DogGoat avoids appending resources in this manner for emails sent to you, because we don't think we should be able to tell what your reading from us.
  </p>

  <p>
    When you access any part of DogGoat, you send along your IP address to our server. This is a requirement of almost all servers on the internet. Many IP addresses can be geolocated to a location (think "Brooklyn, New York", not "the kitchen of your house on Maple street" specificity). DogGoat does not try to determine your location based on your IP address.
  </p>

  <h3>Questions</h3>
  If you have any questions or concerns about your privacy while browsing DogGoat, please ask us at doggoatalpha@gmail.com.
</div>
