<div class="markdown static_text_page">
  <h1>DogGoat is in Development</h1>
  <p>
    DogGoat is, hopefully amongst other things, a piece of technology. And technology doesn't just grow out of the ground (not to diss any farmers out there).
  </p>

  <p>
    DogGoat is currently in <em>Alpha</em>, which basically means it is functionally satisfactory, but not feature complete or fully tested. The fun thing is that, here you are, on the site anyways. This is intentional; DogGoat wants to be the best it can be, but it won't accomplish any of its goals without a community of people driving it. Opening up DogGoat during its early stages of development is the best way to make it better down the line.
  </p>

  <p>
    We're really excited we get to build this website together.
  </p>

  <p>
    You can keep up with all the changes at <%= link_to "the DogGoat Changelog", controller: "static", action: "changelog" %>.
  </p>

  <h2>Alpha Status</h2>
  <p>
    Since developing a community of comedians is really the thing that will make or break DogGoat, the Alpha release is entirely about just that. We want to see whether or not people care, and what they care about.
  </p>
  <p>
    DogGoat's Alpha has a lot of room for refinement, and has its share of bugs, but everything works (fingers crossed). We didn't want anybody's first impression of DogGoat to be an <em>incomplete</em> one full of buttons that link to 404 pages and "coming soon" plastered on every pixel. What's here is here is here.
  </p>
  <h3>What You Do Need to Bear With Us On.</h3>
  <p>
    DogGoat is being generously hosted at a very low cost by <span style="color: purple">Heroku</span>. However, it's not a premium set of powerhouse servers. If this starts to take off, DogGoat will start spending money on better servers, but not until we need to.
  </p>
  <p>
    The servers automatically go to sleep if nobody uses the site for 30 minutes. When somebody goes to the website after it's gone to sleep, it takes about 30 seconds for the server to boot up again. Once it's awake, it will perform at regular speeds.
  </p>
  <p>
    The other thing is that the server will be off at least 6 hours a day. This includes time the server spends sleeping, so I imagine most of these hours will be in the dead of night and not affect you.
  </p>

  <h2>Future Releases</h2>
  <p>
    Here's what we have planned so far for the future of DogGoat. Keep in mind, the whole reason this is a public Alpha is to hear what you want from the site, and implement <em>that</em>. So always feel free to contact us with suggestions. That is what will make us king.
  </p>
  <h4>Beta</h4>
  <p>
    While the goal of Alpha was to get our feet wet with a public community, Beta is all about features, refinement, and making DogGoat into a respectable site for budding and professional comedians. Once Alpha gets settled in, you'll start to see Beta features pop up.
  </p>
  <ul>
    <li>Comments on Articles, for saying stuff like "Hey nice job!" or "You're ugly and Batman is the best superhero".</li>
    <li><em>Riffs</em> on Articles, which allow other comedians to contribute and riff off of another comedian's work.</li>
    <li>Support for Mobile devices (and their small screens).</li>
    <li>Upload <code>.md</code> or <code>.txt</code> documents to post directly.</li>
    <li>Updated Servers, Database, Email, and Web Engine.</li>
  </ul>
  <p>
    Once all those features are ready to go, DogGoat will be made available to a much larger group of comedians, comedic writers, comedy fans, and more.
  </p>

  <h4>DogGoat Version 1.0</h4>
  <p>
    Let's not think about this, it is far away. But this is when DogGoat becomes a household name. Like <em>AskJeeves</em> or <em>Zune</em>.
  </p>

  <h2>Open Source</h2>
  <p>
    DogGoat is open source! Which means you can look at all the <code>code</code> that we use to do everything you're seeing (expect for like, a few secret keys and passwords)! Open source means you can contribute to the development of DogGoat directly if you want. As in, if you want to implement a feature, you can.
  </p>
  <p>
    DogGoat also has a public issue tracker, which is basically a cool way of seeing exactly what is on the development docket at any given moment.
  </p>
  <p>
    Check us out (or better yet, fork us): <%= link_to "DogGoat on Github", "http://www.github.com/cpimhoff/doggoat" %>
  </p>

</div>
