<div class="login_header">
  <h1>Oh No!</h1>
  <h2>Seems like you lost a very important sticky note...</h2>
  <p>
    Enter the email associated with your account, and we'll send you a recovery password to that email. If you have further difficulties, please contact <b>doggoatalpha@gmail.com</b> for support.
  </p>
</div>

<div class="login_form">
  <%= semantic_form_for :account do |f| %>
    <h3>Account Email:</h3>
    <%= f.input :email, :input_html => {:value => @email} %>
    <h3>Password:</h3>
    <%= f.input :password, :input_html => {:disabled => true, :placeholder => "haha, that's the problem asshole."} %>
    <%= f.action :submit, :label => "Reset Password", :as => :button  %>
  <% end %>
</div>
