<div class="delete_post">
  <div class="warning">
    Are you sure you would like to delete <strong><%= @post.title %></strong>? This action can not be undone.
  </div>

  <div class="buttons">
    <%= semantic_form_for @post, method: :delete do |f| %>
      <div class="options">
        <%= link_to "Cancel", post_path(@post), class: "button"%>
        <%= f.action :submit, :label => "delete", :as => :button %>
      </div>
    <% end %>
  </div>
</div>
