
<div class="flash_block">
  <div class="msg">
    Search for "<%=params[:query]%>". <%= @posts.total_count %> <%="result".pluralize(@posts.count)%>.
  </div>
</div>

<%= render 'posts/_posts_list' %>
