// Place all the styles related to the Invites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.invite_form {
  h3 {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.6em;
  }
  p {
    margin-bottom: 1em;
    max-width: 45em;
  }
}
.rescind {
  margin-top: 7em;
}
