// Place all the styles related to the Login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login_form {
    background-color: rgb(240,240,240);
    border-radius: 0.5em;
    max-width: 45em;

    margin-top: 2em;
    padding: 3em;
}

.login_header {
  * {
    margin-bottom: 0.5em;
  }
}
