// Place all the styles related to the Login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login_form {
  margin-left: 2em;
  width: 25em;

  .email_field,.password_field {
    margin-bottom: 1em;

    span {
      position: relative;
      top: 1em;
      width: 15%;
    }

    input {
      @include underlined_input;
      float: right;

      &#credentials_email {
        width: 85%;
      }
      &#credentials_password {
        width: 75%;
      }
    }

  }

  .login_button {
    @include button;
  }

}
