// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.delete_post {

  .warning {
    @include warning_block;
  }

  .options {

    .button {
      display: inline-block;
      margin-right: 1em;
      @include button;
    }

    li.action button {
      @include button(rgb(246,45,0));
      color: white;
    }
  }
}

.post_content {

  margin-bottom: 5em;
  max-width: 55em;

  .heading {
    border-left: medium solid black;
    padding-left: 1em;
    margin-bottom: 2em;

    .title {
      font-size: 300%;
      text-transform: capitalize;
    }

    .author {
      position: relative;
      top: -0.2em;
      left: 0.2em;
      font-size: 110%;
      font-weight: bold;
      font-style: italic;
      text-transform: lowercase;
      color: #c1c1c1;
    }

  }

  .content {
    padding-left: 1em;
  }

  .edit_button {
    @include button;
    display: inline-block;
    float: right;
    font-size: 100%;
    margin-top: 1em;
  }

}

.posts_list {

  .post {
    $backing: #e3e3e3;

    margin-bottom: 1.2em;
    display:flex;

      .post_details {
      padding: 1em;
      background-color: $backing;
      border-left: medium solid black;

      .author,.views {
        font-style: italic;
        color: #919191;
        text-transform: lowercase;

        position: relative;
        top: 3px;
      }

      .author:hover {
        text-decoration: underline;
      }

      .title {
        font-size: 300%;
        color: #373737;
        text-transform: capitalize;
      }

    }

    $post_edge_height: 6em;
    .post_edge_tip {
      @include parallelogram_flag_tip($post_edge_height, $backing);
    }
    .post_edge_fill {
      @include parallelogram_flag_fill($post_edge_height, $backing);
    }
  }

}
