
.prompt-show {
  margin-bottom: 4em;
  max-width: 55em;

  .riff-show {
  margin-left: 1em;
  margin-bottom: 1em;

    .rank-number {
      float: left;

      font-size: 250%;
      font-style: italic;
      font-weight: bold;
      color: rgb(184,78,27);
      background-color: rgb(56,56,56);
      border-radius: 0.2em;

      padding-left: 0.4em;
      padding-right: 0.4em;

      margin-right: 0.2em;
      margin-left: 1em;
    }
    .rank-number[data-rank='1'] {
      color: rgb(255,212,57);
      margin-left: 0em;
    }
    .rank-number[data-rank='2'] {
      color: rgb(247,247,247);
      margin-left: 0.5em;
    }

    .riff-content {
      font-size: 120%;
      margin-bottom: 0.1em;
    }

    .riff-author {
      color: rgb(207,207,207);
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .vote-riff-list {
    .riff-show {
      background-color: rgb(222,222,222);
      padding: 0.5em;
      border-radius: 0.2em;
      margin-bottom: 0.3em;

      -webkit-transition: background-color 0.2s;
      transition: background-color 0.2s;
      &:hover {
        background-color: rgb(191,191,191);
      }
    }
  }

  .riff-state-label {
    margin-top: 1em;
    margin-bottom: 0.2em;
    font-weight: bold;
    font-size: 150%;
  }

  .riff-form {
    width: 50vw;
    textarea#riff_content {
      min-width: 30em;
      max-width: 60vw;
      height: 5vh;
      max-height: 10vh;

      background-color: rgb(241,236,236);
      border: none;

      padding: 1em;
      margin-bottom: 0em;

      font-size: 110%;
      line-height: 120%;

      &::selection {
        background-color: rgb(219,219,219);
      }
    }
    button {
      margin-top: 0em;
    }
  }

}
