<div class="bits-list content-listing on-load-sequence-fade-in-container">
  <% @bits.each do |b| %>
    <div class="bit-index-preview animation-child">
      <span class="bit_details" style="border-left-color: <%=b.color%>">
        <span class="bit-text">
          <%= b.content %>
        </span>
        <span class="author">
          <%= link_to b.author.full_name, member_path(b.author) %>
        </span>
      </span>
    </div>
  <%end%>

  <!-- <%= paginate @bits, :window => 2 %> -->
</div>
