
.on-load-fade-in {
  // automatically faded back in by javascript
}
.on-load-fade-drop-from-above {
  opacity: 0.0;
  position: relative;
  top: -0.3em;
}

.on-load-sequence-fade-in-container {
  //container that contains animation children
  .animation-child {
    opacity: 0.0;
    position: relative;
    left: -0.2em;
    //these objects are actually animated on (in order defined by container)
  }
}
