
.post-heading,.prompt-heading {
  padding-left: 1em;
  border-left: medium solid black;
  // apply dynamic color with style="border-left-color: [color]"
  -webkit-transition: border 0.25s;
  transition: border 0.25s;

  .title {
  }

  .author,.author-no-link {
    position: relative;
    top: -0.2em;
    left: 0.2em;
    font-weight: bold;
    font-style: italic;
    text-transform: lowercase;
    color: #c1c1c1;
  }
  .author {
    &:hover {
      text-decoration: underline;
    }
  }

  .prompt-text {
    margin-top: 0.2em;
    font-size: 300%;
    @media (max-width: 470px) { //scale down on smaller devices
      font-size: 220%;
    }
  }
}

.draft-notice {
  font-family: monospace;
  font-weight: bold;
  font-size: 130%;
  padding-bottom: 1em;
}

.post-heading {
  margin-bottom: 2em;
  .title {
    font-size: 300%;
    @media (max-width: 470px) { //scale down on smaller devices
      font-size: 200%;
    }
  }
  .author {
    font-size: 110%;
  }
}

.prompt-heading {
  margin-bottom: 0.5em;
  .title {
    font-size: 150%;
    @media (max-width: 470px) { //scale down on smaller devices
      font-size: 130%;
    }
  }
  .author {
    font-size: 80%;
  }
}
