<!DOCTYPE html>
<html>
<head>
  <title>DogGoat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='site_header'>
  <span id='dog'>Dog</span><span id='goat'>Goat</span>
</div>

<%= yield %>

</body>
</html>
