<!DOCTYPE html>
<html>
<head>
  <title>DogGoat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="site_header">
  <div id="hero">
    <span id="dog">Dog</span><span id="goat">Goat</span>
  </div>
  <div id="navigation_bar">
    <span class='left'>hot new featured</span>
    <span class='right'>about logout</span>
  </div>
</div>

<%= yield %>

</body>
</html>
